/* change colors here */

:root {
  --main-color: #19253f;
  --secondary-color: #255691;
  --on-main-color: #a7a9aa;
  --on-secondary-color: #dec48c;
  --text-color: #efffff;
}

::-webkit-scrollbar {
  width: 0.2em;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--main-color) !important;
  font-family: "Roboto", sans-serif;
}

h1 {
  line-height: normal;
  text-align: center;
  color: var(--on-secondary-color);
}

p {
  color: var(--text-color);
}

/*universal classes*/

.centered {
  text-align: center;
  max-width: 1000px;
  line-height: 30px;
}

.text {
  font-size: 19px;
  min-width: 250px;
}

/* Navbar */

#navbar {
  height: 75px;
  width: 100vw;
  position: fixed;
  top: 0;
  background: transparent;
  transition: 200ms linear;
}

#navbar > p {
  float: left;
  margin-left: 30px;
  font-size: 1.46rem;
}

#navbar nav {
  display: flex;
  float: right;
  margin: 0 1vw;
}

#navbar nav a {
  padding: 28px 35px;
  text-decoration: none;
  transition-duration: 0.5s;
  color: var(--text-color);
}

#navbar nav a:hover {
  background: var(--on-secondary-color);
}

#navbar input {
  display: none;
}

#navbar.scrolled {
  background-color: var(--secondary-color);
  transition: 200ms linear;
}

/* Content */

#landing-article {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: url("./assets/bg-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Description */

#description p {
  margin: 0 10%;
  line-height: 2rem;
  font-weight: 5 00;
  font-size: 1.1rem;
  text-align: center;
}

/*Goals*/

#goals {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}
#goals div {
  width: 10rem;
  height: auto;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  background-color: aliceblue;
  transition-duration: 1s;
}
#goals div img {
  width: 90%;
  padding: 5%;
}
#goals div p {
  padding: 2%;
  display: none;
  overflow: hidden;
  color: #10182d;
  transition-duration: 1s;
}
@media screen and (min-width: 577px) {
  #goals div:hover {
    transition-duration: 1s;
  }
  #goals div:hover > p {
    display: block;
    transition-duration: 1s;
  }
}

/* Team */

#team {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#team p {
  font-size: 1.2rem;
  width: max-content;
  padding: 3vh;
  margin-top: 0;
}

/* Contact */

#contact {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: wrap column;
  background: #10182d;
  height: 10rem;
}

#contact p {
  text-align: center;
  width: 100%;
}

#contact footer {
  align-self: flex-end;
  color: grey;
  font-size: 14px;
}

#media {
  align-self: center;
}

#media img {
  width: 3em;
  height: 3em;
  margin: 0 7px;
}

/* Mobile */

@media screen and (max-width: 576px) {
  /* Hamburger */
  #navbar {
    padding: 5px;
    height: auto;
  }
  #navbar input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }
  #navbar span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out, opacity 0.5s ease;
  }

  #navbar input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(2px, -1px);
  }
  #navbar input:checked ~ span:nth-child(3) {
    opacity: 0;
  }
  #navbar input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg);
  }

  #navbar p {
    display: none;
    width: 100%;
  }
  #navbar input:checked {
    width: 50px;
  }
  #navbar nav {
    display: none;
  }
  #navbar input:checked ~ p {
    display: block;
    clear: both;
  }
  #navbar input:checked ~ nav {
    display: block;
    float: left;
  }
  #navbar input:checked ~ nav > a {
    clear: both;
    text-align: left;
    width: 100%;
    display: block;
  }

  #landing-article {
    display: none;
  }

  #goals div p {
    display: block;
  }
}
