/* change colors here */

:root {
  --main-color: #19253f;
  --secondary-color: #255691;
  --on-main-color: #a7a9aa;
  --on-secondary-color: #dec48c;
  --text-color: #efffff;
}

::-webkit-scrollbar {
  width: 0.2em;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--main-color);
  font-family: "Roboto", sans-serif;
}

h1 {
  line-height: normal;
  text-align: center;
  color: var(--on-secondary-color);
}

p {
  color: var(--text-color);
}

/*universal classes*/

.centered {
  text-align: center;
  max-width: 1000px;
  line-height: 30px;
}

.text {
  font-size: 19px;
  min-width: 250px;
}

/* Navbar */

#navbar {
  height: 75px;
  width: 100vw;
  position: fixed;
  top: 0;
  background: transparent;
  transition: 200ms linear;
}

#navbar > p {
  float: left;
  margin-left: 30px;
  font-size: 1.46rem;
}

#navbar nav {
  display: flex;
  float: right;
  margin: 0 1vw;
}

#navbar nav a {
  padding: 28px 35px;
  text-decoration: none;
  transition-duration: 0.5s;
  color: var(--text-color);
}

#navbar nav a:hover {
  background: var(--on-secondary-color);
}

#navbar.scrolled {
  background-color: var(--secondary-color);
  transition: 200ms linear;
}

/* Content */

#landing-article {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: url("./assets/bg-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Description */

#description p {
  margin: 0 10%;
  line-height: 2rem;
  font-weight: 5 00;
  font-size: 1.1rem;
  text-align: center;
}

/*Goals*/

#goals {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}
#goals div {
  width: 10rem;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  background-color: aliceblue;
}
#goals div img {
  width: 90%;
  padding: 5%;
}
#goals div p {
  padding: 2%;
  overflow: hidden;
  color: #10182d;
}

/* Team */

#team {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#team p {
  font-size: 1.2rem;
  width: max-content;
  padding: 3vh;
  margin-top: 0;
}

/* Contact */

#contact {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: wrap column;
  background: #10182d;
  height: 10rem;
}

#contact p {
  text-align: center;
  width: 100%;
}

#contact footer {
  align-self: flex-end;
  color: grey;
  font-size: 14px;
}

#media {
  align-self: center;
}

#media img {
  width: 3em;
  height: 3em;
  margin: 0 7px;
}

/* Mobile */

@media screen and (max-width: 576px) {
}
